<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931745201122-k5mmurpmi5ev7fet73jta2c50vvitumc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931745201122-k5mmurpmi5ev7fet73jta2c50vvitumc</string>
	<key>API_KEY</key>
	<string>AIzaSyAcdUmLs9hMtiQAwi6gEGQABAIm3tz9RYE</string>
	<key>GCM_SENDER_ID</key>
	<string>931745201122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.slackCards</string>
	<key>PROJECT_ID</key>
	<string>ionic-ec0mmerce</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-ec0mmerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931745201122:ios:2dc9cd143337a22ae5d7bb</string>
</dict>
</plist>